snippet kss "styleguide comment"
// ${1:Name}
//
// ${2:Description}
//
// Markup:
// <${3:div} class="${4:class} \{$modifiers\}">text</${5:$3}>
//
// ${6:modifier} - ${7:modifier description}
//
// Styleguide ${8:section}
endsnippet
