snippet guide "styleguide comment"
// ${1:Name}
// 
// ${2:Description}
//
// Markup: ${3:<div class="\{$modifiers\}">text</div>}
//
// ${4:modifier} - ${5:modifier description}
//
// Styleguide {$6:section}
endsnippet
